@page
@model WebAppExamples.Pages.Ch09.E03Razor2Model
@{
}
<div class="bg-primary text-white">在C#代码块中使用HTML元素</div>
@{
    List<string> list = new List<string>();
    for (int i = 1; i < 6; i++)
    {
        list.Add($"第{i}项");
    }
    <p class="mt-3">今天是 @DateTime.Now.DayOfWeek</p>
    foreach (var v in list)
    {
        <span style="margin:10px;">@v</span>
    }
}
