@page
@model WebAppExamples.Pages.Ch09.E04TextModel
@{
}
<div class="row">
    <div class="col-md-6">
        <h5>text-前缀（常规大小）</h5>
        <div class="text-muted">muted语义的前景色（text-muted）</div>
        <div class="text-primary">primary语义的前景色（text-primary）</div>
        <div class="text-success">success语义的前景色（text-success）</div>
        <div class="text-info">info语义的前景色（text-info）</div>
        <div class="text-warning">warning语义的前景色（text-warning）</div>
        <div class="text-danger">danger语义的前景色（text-danger）</div>
    </div>
    <div class="col-md-6">
        <h5>text-前缀（指定大小为h4）</h5>
        <p class="h4 text-muted">前景色（text-muted）</p>
        <p class="h4 text-primary">前景色（text-primary）</p>
        <p class="h4 text-success">前景色（text-success）</p>
        <p class="h4 text-info">前景色（text-info）</p>
        <p class="h4 text-warning">前景色（text-warning）</p>
        <div class="h4 text-danger">前景色（text-danger）</div>
    </div>
</div>
