@page
@model WebAppExamples.Pages.Ch09.E05bgModel
@{
}
<h4 class="bg-info text-center text-danger">bg-前缀</h4>
<p class="h6 bg-primary">bg-primary语义的前景和背景</p>
<p class="h6 bg-success">bg-success语义的前景和背景</p>
<p class="h6 bg-info">bg-info语义的前景和背景</p>
<p class="h6 bg-warning">bg-warning语义的前景和背景</p>
<p class="h6 bg-danger">bg-danger语义的前景和背景</p>
