[submodule "CSharp-Programing-Demo"]
	path = CSharp-Programing-Demo
	url = https://github.com/Henu-Kaguya/CSharp-Programing-Demo.git
[submodule "BangumiMemoryManagementSystem"]
	path = BangumiMemoryManagementSystem
	url = https://github.com/Sonder9999/BangumiMemoryManagementSystem.git
