<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyDb1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\ls\V4B2Source\ClientWinFormsExamples\ch05\Data\MyDb1.mdf;Integrated Security=True" />
	</connectionStrings>
</configuration>